*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.logo {
 background-image:linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url(img/Flutter.jpg);
 background-size: cover;
 min-height: 100vh;
 width: 100%;
 background-position: center;
 padding: 10px 10%;
 overflow: hidden;
 position: relative;
 
}
.btn{
    display: inline-block;
    padding: 14px 40px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgba(12, 90, 126, 0.8),rgba(21, 130, 150, 0.8),rgba(48, 117, 129, 0.7));
    border-radius: 30px;
    font-size: 25px;
    text-decoration: none;
    border-top-right-radius:0 ;
}

.content{
    margin-top: 10%;
    max-width: 600px;
}

.content h1{
    font-size: 70px;
    color: black;
}

.content .btn{
    margin: 100px;
}

.dash{
    width: 48%;
    position: absolute;
    bottom: 0;
    right: 5%;
}

.btn:hover{
    background-image: linear-gradient(rgb(18, 125, 175),rgb(21, 130, 150),rgb(48, 117, 129));  
    border-radius: 30px;
    padding: 15px 45px;
    opacity: 1;
    transition: 0.3s linear;
}

.login{
    display: flex;
    background-image:url(img/register.jpg);
    background-size:cover;
    min-height: 100vh;
    width: 75%;
    background-position: right;
	justify-content: center;
	align-items: center;

	min-height:100vh ;

}


.inside {
	width: 400px;
    background: transparent;
    border-radius: 20px;
    padding: 30px 40px;
    border: 2.5px solid rgba(255, 255, 255,0.6);
    backdrop-filter: blur(8px);
    position: relative;
}

.inside .box {
    width: 100%;
	height: 40px;
	margin: 18px 0px;
}
.inside h1{
	text-align: center;
	color: white;
	font-size: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    
}


 ul li a {
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    font-size: 20px;
    margin-left: 125px;
    color: black;
}

ul{
    list-style-type: none;
}

ul li a:hover {
    font-size: 20px;
    color:#fff;
    box-shadow: 0 0 20px rgba(45, 30, 99, 0.7);
    background-color: rgba(64, 51, 126, 0.4);
    border: none;
    padding-left: 20px;
    padding-right:20px;
    margin-left: 110px;
    border-radius:20px;
}

.box input{
	width: 100%;
    height: 100%;
    background:  none;
   /* border:none ;*/
    outline: none;
    border: 0.6px solid  rgba(255, 255, 255,0.8);
    border-radius: 40px;
    position: relative;
    padding-left: 10px;
    font-size: 20px;
}

::placeholder{
    color: black;
    opacity: 0.5;
}

.btn1{
    padding: 15px;
    border-radius: 40px ;
    width: 100%;
    height: 100%;
    border: none;
    margin: 30px 0;
}

.register button{
    background-color: rgba(255, 255, 255,0.7);
    font-size: 16px;
}

.register button:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(255,255,255,0.5);
    cursor: pointer;
}
.box input:hover{
    background: rgba(255, 255, 255,0.8);
    color: black;
}

